.container {
	width: 100%;
}

h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}

.container h1 {
	text-align: center;
}

.image_container {
	text-align: center;
	width: 100%;
	display: inline-block;
}

.image_container .image img{
    margin-left: 50px;
    float: left;
    width: 40%;
    max-height: 400px;
    cursor: pointer;
}

.button_wrapper {
	display: inline-block;
	width: 100%;
	margin-top: 100px;
}

.button {
	width: 30%;
	float: left;
	margin: 10px 110px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 20px;
	padding: 10px 5px;
	text-align: center;
}

.button:hover {
    background-color: #e2e2e2;
}

.highest_rated {
	display: inline-block;
}

.highest_rated img {
	margin-left: 50px;
    float: left;
    margin-bottom: 30px;
    max-width: 400px;
    max-height: 400px;
}

.highest_rated h3 {
	margin-top: 100px;
	font-size: 30px;
	text-align: center;
}

.message {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 30px;
	text-align: center;
	color: #ffa844;
}